{% extends '_base.html' %}
{% load static %}
{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static "Accounts/css/header.css" %}">
    <style>

table {
  width: 30%;
  align-self: center;
  margin-block-end: 28px;
  margin-inline: 170px
}
td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #c8f1ae;
}
tr:nth-child(odd) {
  background-color: #2b5a0d;
    color: white;
}
</style>

{% endblock %}
{% block content %}
    <div class="header">

  <div class="header-right">
    <a class="active" href="{% url "main" %}">Home</a>
      {% if user.is_authenticated %}
        <a href="{% url "personal" %}">My Diet</a>


        <a href="{% url "logout" %}">Logout</a>
      {% else %}
          <a href="{% url "login" %}">Sign in</a>
      {% endif %}

  </div>
  </div>
    <h2>{{ user }} s</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Add</button>

    </form>
    <p>{{ name }} : {{ cal }}</p>
    <p>total calorie in week : {{ sum_week }}</p>
    <p>total calorie in month : {{ sum_month }}</p>
    {% if error %}
        {{ error }}
    {% endif %}
    <hr>
    <br>
  {% if sum_week %}
    {% if day0 %}
        <table>
                <tr>
                    <th>Item</th>
                    <th>Count</th>
                    <th>Calorie</th>
                    <th>Date</th>
                </tr>

                    {% for i in day0 %}
                        <tr>
                            <td>{{ i.name }}</td>
                            <td>{{ i.count }}</td>
                            <td>{{ i.calorie }}</td>
                            <td>{{ i.date | date:"M, d"}}</td>

                        </tr>
                    {% endfor %}
                    <tr>
                        <td>{{ cal0 }}</td>
                    </tr>


        </table>
    {% endif %}
    {% if day1 %}
        <table align="right">
            <tr>
                <th>Item</th>
                <th>Count</th>
                <th>Calorie</th>
                <th>Date</th>
            </tr>
            {% for i in day1 %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.count }}</td>
                    <td>{{ i.calorie }}</td>
                    <td>{{ i.date | date:"M, d"}}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>{{ cal1 }}</td>
              </tr>
       </table>
    {% endif %}
    {% if day2 %}
        <table>
            <tr>
                <th>Item</th>
                <th>Count</th>
                <th>Calorie</th>
                <th>Date</th>
            </tr>
            {% for i in day2 %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.count }}</td>
                    <td>{{ i.calorie }}</td>
                    <td>{{ i.date | date:"M, d"}}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>{{ cal2 }}</td>
            </tr>
       </table>
    {% endif %}
    {% if day3 %}
        <table align="right">
            <tr>
                <th>Item</th>
                <th>Count</th>
                <th>Calorie</th>
                <th>Date</th>
            </tr>
            {% for i in day3 %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.count }}</td>
                    <td>{{ i.calorie }}</td>
                    <td>{{ i.date | date:"M, d"}}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>{{ cal3 }}</td>
            </tr>
       </table>
    {% endif %}
    {% if day4 %}
        <table>
            <tr>
                <th>Item</th>
                <th>Count</th>
                <th>Calorie</th>
                <th>Date</th>
            </tr>
            {% for i in day4 %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.count }}</td>
                    <td>{{ i.calorie }}</td>
                    <td>{{ i.date | date:"M, d"}}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>{{ cal4 }}</td>
            </tr>
       </table>
    {% endif %}
    {% if day5 %}
        <table align="right">
            <tr>
                <th>Item</th>
                <th>Count</th>
                <th>Calorie</th>
                <th>Date</th>
            </tr>
            {% for i in day5 %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.count }}</td>
                    <td>{{ i.calorie }}</td>
                    <td>{{ i.date | date:"M, d"}}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>{{ cal5 }}</td>
            </tr>
       </table>
    {% endif %}
    {% if day6 %}
        <table>
            <tr>
                <th>Item</th>
                <th>Count</th>
                <th>Calorie</th>
                <th>Date</th>
            </tr>
            {% for i in day6 %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.count }}</td>
                    <td>{{ i.calorie }}</td>
                    <td>{{ i.date | date:"M, d"}}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>{{ cal6 }}</td>
            </tr>
       </table>
    {% endif %}
  {% else %}
      <p align="center"><b>Add thing do you eat to see calories of them</b></p>
  {% endif %}



{% endblock %}